#header h1 input[type=text]{
	height:0.56rem;
	width:4.52rem;
	line-height: 0.56rem;
	border-radius: 0.2rem;
	text-align: center;
	font-size: .26rem;
	text-indent: .4rem;
	background:#fff url(../img/icon_FL_2_search@2x.png) no-repeat 1.2rem center/.3rem .3rem;
}


#content .wrap{
	height: 100%;
}
#swiper-container1{
	height: 100%;
}
#content .con-left .swiper-wrapper{
	display: block;
	background: #F8F8F8;
	width:1.8rem;
	line-height: 0.83rem;
	font-size: .26rem;
	height: 100%;
}
#content .con-left .swiper-wrapper .active{
	background: #fff url(../img/active-bg.png) no-repeat left center/.1rem .74rem;
}
#content .con-left .swiper-slide{	
	height:0.83rem;
	text-align: center;
	border-top:1px solid #E8E8E8;
	background: #F8F8F8;
}
#content .scrollWrap{
	position: relative;
	width:100%;
	overflow: hidden;
	height: 100%;
}

#content .wrap{
	display: flex;
}
#content .wrap .con-left{
	width:1.8rem;
	font-weight: 200;
}
#content .wrap .con-right{
	flex: 1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
#swiper-container2{
	height:.83rem;
	font-weight: 500;
	font-size: .26rem;
}
#swiper-container2 .active{
	color:#ff5417;
}
#swiper-container2 .swiper-slide{
	text-align: center;
	line-height: .83rem;
	height: .83rem;
}
#swiper-container3{
	width:5.3rem;
	overflow: hidden;
	flex:1;	
}
#swiper-container3 .scrollWrap{
	padding-bottom: 2rem;
}
#swiper-container3 dl{
	overflow: hidden;
	border-bottom: 1px solid #eee;
	padding:.1rem 0;
}
#swiper-container3 dt{
	width:1.68rem;
	height:1.68rem;
	position: relative;
	float:left;
	margin-right:0.1rem;
}
#swiper-container3 dt img{
	width: 100%;
}
#swiper-container3 dt em{
	position:absolute;
	left:0;
	bottom:0;
	display: block;
	width:100%;
	height: 0.32rem;
	font-size: 0.22rem !important;
	/*-webkit-transform-origin-x: 0;
　　-webkit-transform: scale(0.5833333333333334);*/
	line-height: 0.32rem;
	text-align: center;
	color: #fff;
	background: #000;
	opacity: 0.3;
}
#swiper-container3 dd{
	float:left;
	width:3.5rem;
	text-align: left;
}
#swiper-container3 dd:nth-of-type(1){
	font-size: 0.28rem;
	line-height: 0.48rem;
	font-weight: 500;
}
#swiper-container3 dd:nth-of-type(2){
	font-size: 0.24rem;
	line-height: 0.34rem;	
}
#swiper-container3 dd:nth-of-type(3){
	font-size: 0.18rem;
	line-height: 0.54rem;
	color:#ef3f0e;
	position: relative;
}
#swiper-container3 dd:nth-of-type(3) span{
	font-size: 0.22rem;
}
#swiper-container3 dd:nth-of-type(3) em{
	font-size: 0.3rem;
}
#swiper-container3 dd:nth-of-type(3) b{
	font-size: 0.18rem;
}
#swiper-container3 dd:nth-of-type(3) i{
	float: right;
	color:#666;
	margin-right: 0.6rem;
}
#swiper-container3 dd:nth-of-type(4){
	font-size: 0.2rem;
	color: #666;
	line-height: 0.4rem;
}
#swiper-container3 dd:nth-of-type(4) span{
	float: right;
}
#swiper-container3 dd:nth-of-type(4) em{
	margin-right: 0.1rem;
}
#swiper-container3 dd:nth-of-type(4) i{
	border-radius: 50%;
	overflow: hidden;
	height:0;
	display: inline-block;
	vertical-align: middle;
	width:0;
	font-size: 0;
	margin-right: .05rem;
	border:.03rem solid #000;
}
#swiper-container3 p{
	position: absolute;
	right:.1rem;
	width:0.58rem;
	height: 0.58rem;
	bottom:0;
	background: url(../img/che@2x.png);
	background-size: cover;
}
#swiper-container3 dd:nth-of-type(3) p span{
	position: absolute;
	right:-0.05rem;
	top:-0.1rem;
	background: #ff5417;
	width:.28rem;
	height:.28rem;
	line-height: .3rem;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	font-size: .18rem;
}
