#header{
	vertical-align: middle;
	background: #fff;
	border-bottom: 1px solid #efeff4;
	box-shadow: initial;
}
#header:after{
	display:inline-block;
    height:100%;
    width:0;
    vertical-align:middle
}
#header .backBtn{
	vertical-align: middle;
	display: inline-block;
	width:17px;
	height:18px;
	background: url(../img/fanhui-icon@2x.png);
	background-size: cover;
}
#content{
    padding-bottom: 0;
}
#content div{
	border-bottom: 1px solid #efeff4;
}
#content h2{
	border-bottom: 1px solid #efeff4;
	border-top: 1px solid #efeff4;
	margin:0;
}
#content .realPay{
	padding:.1rem 0 .1rem 1rem;
	font-size: .26rem;
	line-height: 2;
	background: url(../img/tixing-icon@2x.png) no-repeat .2rem center/0.57rem .57rem;
	color: #666;
}
#content .realPay span{
	color: #ff3d1d;
}
#content .payStyle h2{
	font-size: .3rem;
	color: #2b2b2b;
	line-height: 3;
	padding-left: .2rem;
}
#content .payStyle .style-content{
	border: none;
	position: relative;
}
#content .payStyle .style-content label{
	position: absolute;
	right:0.2rem;
	top:50%;
	width: .36rem;
	height: .36rem;
	line-height: 0;
	font-size: 0;
	margin-top: -0.18rem;
}
#content .payStyle dl{
	padding-left:1rem;
	line-height: 2;
	background: url(../img/wx-9@2x.png) no-repeat .2rem center/0.67rem .59rem;
}
#content .payStyle dl dt{
	font-size: .3rem;
	color: #2b2b2b;
}
#content .payStyle dl dd{
	font-size: .25rem;
	color: #6d6d6d;	
}
#content .confirmPay{
	border:none;
	padding:0 .2rem;
}
#content .confirmPay p{
	width:100%;
	height: .84rem;
	background: #FFD600;
	border-radius: .15rem;
	text-align: center;
	line-height: .84rem;
	font-size: .36rem;
	color: #2b2b2b;
	margin-top:1rem;
}
