#content{
	margin:0;
	padding:0;
	background: #efefef;
}
#content .personal-title{
	width: 100%;
	height:2.8rem;
	background: url(../img/my-bg.png) no-repeat 0 0/100% 100%;
	padding:0.8rem 0 0 1rem;
}
#content .personal-title dt{
	font-size: .4rem;
	color: #2B2B2B;
}
#content .personal-title dd{
	font-size: .26rem;
	color: #2B2B2B;
	line-height: 3;
}
#content .myOrder{
	background: #fff;
}
#content .order-title{
	padding:.2rem;
	border-bottom: 1px solid #EDEDED;
}
#content .order-title span{
	font-size: .3rem;
	color: #000;
}
#content .order-title em{
	font-size: .24rem;
	color: #999;
	padding-right: .24rem;
	background: url(../img/querendingdan_2@2x.png) no-repeat right center/.12rem .21rem;
}
#content .order-details{
	height:1.4rem;
	width: 100%;
}
#content .order-details ul{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content .order-details ul li{
	line-height: 1.5;
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	position: relative;
}
#content .order-details ul li img{
	height: .4rem;
}
#content .order-details ul li i{
	width:.34rem;
	height:.34rem;
	border:1px solid #e74d51;
	color:#E74D51;
	font-size: .28rem;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	right:.55rem;
	top:.1rem;
	background: #fff;
	text-align: center;
	line-height: .34rem;
}
#content .order-details ul li em,#content .order-details ul li span{
	text-align: center;
}
#content .my-message{
	margin-top: .2rem;
	font-size: 16px;
}
#content .my-message li{
	padding-left:30px;
}
#content .my-message li:nth-child(1){
	background: url(../img/youhuiquan-icon@2x.png) no-repeat 16px center/21px;
}
#content .my-message li:nth-child(1) span{
	font-size: 12px;
	color:#FF3D1D;
	padding-right: 16px;
}
#content .my-message li:nth-child(2){
	background: url(../img/tel@2x.png) no-repeat 16px center/21px;
}
#content .my-message li:nth-child(2) span{
	font-size: 16px;
	color:#000;
	padding-right: 16px;
}
#content .my-message li:nth-child(3){
	background: url(../img/add_icon@2x.png) no-repeat 16px center/21px;
}
#content .my-message li:nth-child(4){
	background: url(../img/lin@2x.png) no-repeat 16px center/21px;
}