* {
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: "微软雅黑";
	overflow: hidden;
	height: 100%;
	line-height: 1.5;
}

body {
	font-size: 0.14rem;
}

html {
	font-size: 31.25vw;
}

em,
i {
	font-style: normal;
}
ul,li{
	list-style: none;
}
.weixin,
.swiper-wrapper,
.swiper-container {
	width: 100%;
	height: 100%;
}

.weixin {
	position: relative;
}

.weixin .banner {
	display: flex;
	width: 100%;
	height: 100%;
}

.weixin .banner {
	position: relative;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.weixin .banner ul {
	position: relative;
	width: 100%;
	height: 100%;
}

.qipaio {
	position: absolute;
	width: 2.44rem;
	height: 3.84rem;
	top: 0.39rem;
	left: 0.37rem;
	z-index: 1;
	opacity: 1;
	box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 0px;
	-webkit-animation: flash 2s ease 0s infinite both;
	-moz-animation: flash 2s ease 0s infinite both;
	-ms-animation: flash 2s ease 0s infinite both;
}

.qipaio img {
	width: 100%;
	height: 100%;
}

.weixin .banner1 {
	background: url(../img/hudie.jpg) no-repeat;
	background-size: cover;
}

#audio_btn {
	display: flex;
	position: absolute;
	right: 0.20rem;
	top: 0.20rem;
	z-index: 200;
	width: 0.30rem;
	height: 0.30rem;
	}
#audio_btn .audio_btn{
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-webkit-animation: move 1.2s linear infinite;
	-moz-animation: move 1.2s linear infinite;
	-ms-animation: move 1.2s linear infinite;
}
#audio_btn img {
	width: 100%;
	height: 100%;
}

@-webkit-keyframes move {
	from {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		
	}
	to {
		-webkit-transform: rotateZ(360deg);
		-moz-transform: rotateZ(360deg);
		-ms-transform: rotateZ(360deg);	
	}
}
@-ms-keyframes move {
	from {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		
	}
	to {
		-webkit-transform: rotateZ(360deg);
		-moz-transform: rotateZ(360deg);
		-ms-transform: rotateZ(360deg);	
	}
}
@-moz-keyframes move{
	from {
		-webkit-transform: rotateZ(0deg);
		-moz-transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		
	}
	to {
		-webkit-transform: rotateZ(360deg);
		-moz-transform: rotateZ(360deg);
		-ms-transform: rotateZ(360deg);	
	}
}
.weixin .banner2 {
	background: url(../img/banner02.jpg) no-repeat;
	background-size: cover;
}
#jiantou{
	position:absolute;
	bottom: 0.20rem;
	left:50%;
	margin-left:-0.15rem;
	width:0.30rem;
	height:0.20rem;
	z-index: 5;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-webkit-animation: top 1s linear infinite;
	-moz-animation: top 1s linear infinite;
	-ms-animation: top 1s linear infinite;
	}
@-moz-keyframes top{
		from{
			bottom:0.20rem;
		}
		to{
			bottom:0.30rem;
		}
	}
@-ms-keyframes top{
	from{
			bottom:0.20rem;
		}
		to{
			bottom:0.30rem;
		}
	}
@-webkit-keyframes top{
		from{
			bottom:0.20rem;
		}
		to{
			bottom:0.30rem;
		}
	}
#jiantou img{
	width: 100%;
	height: 100%;	
	}
.weixin .banner2 ul {
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.weixin .banner2 ul li {
	width: 3.10rem;
	height: 80%;
	z-index: 1;
	display: block;
	position: absolute;
}
.weixin .banner2 ul li div{
	width:100%;
	height:100%;
	
}
.weixin .banner2 ul  div img {
	width: 100%;
	height: 100%;
}

.weixin .banner2 ul li:nth-child(1) {
	left: 0.01rem;
	top: 0.14rem;
	-webkit-transform-style: preserve-3d;
	-webkit-animation: swing 2s ease 0s infinite both;
	-moz-transform-style: preserve-3d;
	-moz-animation: swing 2s ease 0s infinite both;
	-ms-transform-style: preserve-3d;
	-ms-animation: swing 2s ease 0s infinite both;
}

.weixin .banner2 ul li:nth-child(1) div {
	top: 0.14rem;
	left: 0.01rem;
	z-index: 1;
}

.weixin .banner2 ul li:nth-child(2) {
	left: 0.01rem;
	top: 0.14rem;
	-webkit-transform-style: preserve-3d;
	-webkit-animation: swing 2s ease 0.2s infinite both;
	-moz-transform-style: preserve-3d;
	-moz-animation: swing 2s ease 0.2s infinite both;
	-ms-transform-style: preserve-3d;
	-ms-animation: swing 2s ease 0.2s infinite both;
}

.weixin .banner2 ul li:nth-child(3) {
	top: 0.17rem;
	left: 0.01rem;
	-webkit-transform-style: preserve-3d;
	-webkit-animation: tada 2s ease 0.2s infinite both;
	-moz-transform-style: preserve-3d;
	-moz-animation: tada 2s ease 0.2s infinite both;
	-ms-transform-style: preserve-3d;
	-ms-animation: tada 2s ease 0.2s infinite both;
}

.weixin .banner2 ul li:nth-child(4) {
	top: 0.17rem;
	left: 0.28rem;
	-webkit-transform-style: preserve-3d;
	-webkit-animation: tada 2s ease 0.4s infinite both;
	-moz-transform-style: preserve-3d;
	-moz-animation: tada 2s ease 0.4s infinite both;
	-ms-transform-style: preserve-3d;
	-ms-animation: tada 2s ease 0.4s infinite both;
}

.weixin .banner3 {
	background: url(../img/banner03.jpg) no-repeat;
	background-size: cover;
}

.weixin .banner3 ul {
	width: 100%;
	height: 100%;
	position: relative;
}

.weixin .banner3 ul li {
	position: absolute;
}

.weixin .banner3 ul li:nth-child(1) {
	width: 100%;
	height: 5.20rem;
	left: 0;
	bottom: 0.35rem;
}

.weixin .banner3 ul li:nth-child(1) img {
	width: 100%;
	height: 100%;
	-ms-animation: flash 3.5s ease 0.8s infinite both;
	-webkit-animation: flash 3.5s ease 0.8s infinite both;
	-moz-animation: flash 3.5s ease 0.8s infinite both;
	}
.weixin .banner3 ul li:nth-child(2){
	width: 1.56rem;
    height: 0.19rem;;
    left: 1.92rem;
    top: 2.03rem;
    z-index: 2;
    transform: rotateZ(331deg);
    display: block;
    opacity: 1;
}
.weixin .banner3 ul li:nth-child(3){
	width:1.15rem;
    height: 0.14rem;
    left: 0.17rem;
    top: 0.12rem;
    z-index: 3;
    transform: rotateZ(331.39deg);
    display: block;
}
.weixin .banner3 ul li:nth-child(4){
	width:1.15rem;
    height: 0.14rem;
    left: 1.37rem;
    top: 3.6rem;
    z-index: 4;
    transform: rotateZ(331.39deg);
    display: block;
}
.weixin .banner3 ul li:nth-child(5){
	width: 0.82rem;
    height: 0.10rem;
    left: 0.03rem;
    top: 2.04rem;
    z-index: 5;
    transform: rotateZ(331deg);
    display: block;
    opacity: 1;
}
.weixin .banner3 ul li:nth-child(6){
	width: 1.40rem;
    height: 0.17rem;
    left: 2.6rem;
    top: 0.56rem;
    z-index: 7;
    transform: rotateZ(331deg);
    display: block;
    opacity: 1;
}
.weixin .banner3 ul li img{
	width: 100%;
    height: 100%;
}
.weixin .banner3 ul li:nth-child(7){
	width: 1.14rem;
    height: 1.14rem;
    left: 1.03rem;
    top: 0.24rem;
    z-index: 8;
    transform: rotateZ(0deg);
    display: block;
    opacity: 1;
    -webkit-animation: move 1.2s linear infinite;
	-moz-animation: move 1.2s linear infinite;
	-ms-animation: move 1.2s linear infinite;
   }
 .weixin .banner3 ul li:nth-child(8){
   	width:0.99rem;
    height: 1.00rem;
    left: 1.11rem;
    top: 0.31rem;
    z-index: 9;
     border-radius:50%;
  }
  .weixin .banner3 ul li:nth-child(8) div{
  		width:0.99rem;
        height: 1.00rem;
        border-radius:50%;
  }
  .weixin .banner3 ul li:nth-child(8) img{
  	width: 100%;
    height: 100%;
    border-radius:50%;
  }
  .weixin .banner3 ul li:nth-child(9){
	width:100%;
	height:0.60rem;
	top:1.50rem;
	left:0;
	text-align: center;
}
.weixin .banner3 li:nth-child(9) .a1{
	cursor: default;
    font-size: 0.16rem;
    color:#dddddd;
    width: 100%;
    height: 0.30rem;
    line-height: 0.30rem;;
  }
.weixin .banner3 li:nth-child(9) .a2{
	font-size:0.22rem;
	color:#dddddd;
    width: 100%;
    height: 0.30rem;
    line-height: 0.30rem;;
    text-align: center;
}
.weixin .banner3 ul li:nth-child(10){
	width:100%;
	height:2.0rem;
	z-index: 4;
	top:2.52rem;
	padding-left:0.20rem;
	color:#DDDDDD;
	font-size:0.12rem;
	left:0;
}
.weixin .banner3 ul li:nth-child(10) p{
	height:0.18rem;
	line-height: 0.18rem;
	margin:0.15rem 0;
}
.weixin .banner4{
	background: url(../img/banner04.jpg) no-repeat;background-size: cover;
}
.weixin .banner4,.weixin .banner4 ul{
	width:100%;
	height:100%;
	position: relative;
}
.weixin .banner4 li{position: absolute;}
.weixin .banner4 ul li:nth-child(2){
	width: 1.14rem;
    height: 1.14rem;
    left: 1.03rem;
    top: 0.24rem;
    z-index: 8;
    transform: rotateZ(0deg);
    display: block;
    opacity: 1;
    -webkit-animation: move 1.2s linear infinite;
	-moz-animation: move 1.2s linear infinite;
	-ms-animation: move 1.2s linear infinite;
   }
   .weixin .banner4 ul li img{
   	width:100%;
	height:100%;
   }
   .weixin .banner4 ul li:nth-child(1){
   	width: 0.94rem;
    height:0.94rem;
    left: 1.13rem;
    top: 0.34rem;
    border-radius: 50%;
    line-height: 0.94rem;;
    text-align: center;
    font-size:0.16rem;
    color:#DDDDDD;
   }
 .weixin .banner4  li:nth-child(3) {
	width:100%;
	height:3.2rem;
	position:absolute;
	top:1.5rem;
	left:0;
}
.weixin .banner4  li:nth-child(3) p{
	position: relative;
	width:100%;
	height:0.40rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom:0.05rem;
}
.banner4  li:nth-child(3) p span:nth-of-type(1){
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:15.6%;
	border-radius: 50%;
	line-height: 0.40rem;;
	text-align: center;
	background: #0099CC;
	display: inline-block;
	opacity: 0.8;
	color:#FFFFCC;
}
.banner4  li:nth-child(3) p:nth-child(2) em{
	background: #ccffff;
}
.banner4  li:nth-child(3) p:nth-child(3) em{
	background: #99ccff;
	width:55%;
	}
.banner4  li:nth-child(3) p:nth-child(4) em{
	background: #ccff99;
	width:55%;
}
.banner4  li:nth-child(3) p:nth-child(5) em{
	background: #ffcccc;
	width:55%;
}
.banner4  li:nth-child(3) p:nth-child(6) em{
	background: #669999;
	width:50%;
}
.banner4  li:nth-child(3) p:nth-child(7) em{
	background: #cc9999;
	width:50%;
}
.banner4  li:nth-child(3) p em{
	position: absolute;
	left:0.50rem;
	margin:0 0.05rem;
	line-height: 0.40rem;;
	width:62.5%;
	height:0.20rem;
	background: #66cccc;
	display: inline-block;
	border-radius:0.10rem;
}
.banner4  li:nth-child(3) p i{
	position: absolute;
	top:0;
	right:4%;
	display: inline-block;
	width:13.6%;
	text-align: center;
	height:0.50rem;
	color:#FFFFFF;
	font-size:0.14rem;
	font-style: normal;
	line-height: 0.40rem;
}
.weixin .banner5,.weixin .banner6,.weixin .banner6 ul {
	width:100%;
    height:100%;
    position:relative;
}
.weixin .banner5{
	background: url(../img/banner05.jpg) no-repeat;background-size: cover;
}
.weixin .banner5 ul{
	width:100%;
    height:100%;
    position:relative;
}
.weixin .banner5 li,.weixin .banner6 li{position: absolute;}
.weixin .banner5 ul li:nth-child(1){
	width: 1.14rem;
    height: 1.14rem;
    left: 1.03rem;
    top: 0.24rem;
    z-index: 8;
    transform: rotateZ(0deg);
    display: block;
    opacity: 1;
    -webkit-animation: move 1.2s linear infinite;
	-moz-animation: move 1.2s linear infinite;
	-ms-animation: move 1.2s linear infinite;
   }
   .weixin .banner5 ul li img{
   	width:100%;
	height:100%;
   }
   .weixin .banner5 ul li:nth-child(2){
   	width: 0.94rem;
    height:0.94rem;
    left: 1.13rem;
    top: 0.34rem;
    border-radius: 50%;
    line-height: 0.94rem;;
    text-align: center;
    font-size:0.18rem;
    color:#DDDDDD;
    font-weight: 600;
   }
   .weixin .banner5  li:nth-child(3){
	width: 88%;
    height: 2.00rem;
    left: 0.18rem;
    top: 1.62rem;;
    z-index: 5;
    transform: rotateZ(0deg);
    display: block;
    color:#DDDDDD;
    opacity: 1;
    font-size:0.14rem;
  }
.weixin .banner5  li:nth-child(3) p:nth-child(1),.weixin .banner5  li:nth-child(3) p:nth-child(2){
	width:100%;
	height:50%;
}
.banner5  li:nth-child(3) p:nth-child(1) span{
	width:50%;
	height:100%;
	float:left;
	text-indent: 0.1rem;;
	display: block;
	line-height: 0.81rem;
}
.banner5  li:nth-child(3) p:nth-child(1) em{
   	width:45%;
	height:70%;
    font-style: normal;
    display: block;
    float:right;
    overflow: hidden;
    padding-left:0.1rem;
    padding-top:0.30rem;
}
.banner5  li:nth-child(3) p:nth-child(2) span{
	width:50%;
	height:100%;
	float:left;
	text-indent: 0.10rem;;
	line-height: 0.81rem;
}
.banner5  li:nth-child(3) p:nth-child(2) em{
   	width:45%;
	height:70%;
    font-style: normal;
    display: block;
    float:right;
    overflow: hidden;
    padding-left:0.1rem;
    padding-top:0.30rem;
}
.weixin .banner6{
	background: url(../img/banner06.jpg) no-repeat;background-size: cover;
}
.weixin .banner6 li:nth-child(1){
	width: 60%;
    height: 0.01rem;
    left:20%;
    top: 0.31rem;
    z-index: 2;
    transform: rotateZ(0deg);
    display: block;
    opacity: 1;
    background: #DDDDDD;
 	}
 .weixin .banner6 li:nth-child(2){
	width: 100%;
    height: 0.38rem;
    left: -0.01rem;
    top: 0.33rem;
    text-align: center;
    line-height:0.38rem;
    font-size:0.20rem;
    color:#ddd;
    z-index: 3;
    font-weight: 700;
    transform: rotateZ(0deg);
    display: block;
    opacity: 1;
 	}
 .weixin .banner6 li:nth-child(3){
	width: 60%;
    height: 0.01rem;
    left:20%;
    top: 0.77rem;
    z-index: 2;
    transform: rotateZ(0deg);
    display: block;
    opacity: 1;
    background: #DDDDDD;
}
.weixin .banner6 li:nth-child(4){
	position: absolute;
	width: 1.21rem;
    height: 1.21rem;
    left: 0.98rem;
    top: 1.06rem;
    z-index: 6;
    transform: rotateZ(0deg);
    display: block;
    opacity: 1;
    border-radius: 50%;
    }
   .weixin .banner6 li:nth-child(4) img,.weixin .banner6 li:nth-child(4) div{
   	width:100%;
	height:100%;
	 border-radius: 50%;
   }
   .weixin .banner6 li:nth-child(5){
	width: 65%;
    height: 90%;
    left: 0.27rem;
    top: 0.15rem;
    z-index: 11;
    display: block;
     }
  weixin .banner6 li:nth-child(5) div,.weixin .banner6 li:nth-child(5) img{
	width: 100%;
   	height:100%;
}
.weixin .banner6 li:nth-child(6){
	width: 2.26rem;
    height: 2.02rem;
    left: 0.36rem;
    top: 2.48rem;
    padding-left:0.20rem;
    z-index: 8;
    transform: rotateZ(0deg);
    display: block;
    color: #ddd;
    opacity: 1;
  }
.weixin .banner6 li:nth-child(6) p{
	height:0.25rem;
	line-height: 0.25rem;;
}
.weixin .banner6 li:nth-child(6) em{
	height:0.26rem;
	width:100%;
	font-size:0.16rem;
	font-weight: 700;
	line-height: 0.25rem;;
	font-style: normal;
}
.weixin .banner7{
   width:100%;
   height:100%;
   position: relative;
   background: url(../img/banner07.jpg) no-repeat;
   background-size: cover;
   position: relative;
}
.weixin .banner7 ul{
   width:100%;
   height:100%;
   position: relative;
}
.weixin .banner7 li{
	position:absolute
}
.weixin .banner7 li:nth-child(1){
	width: 0.10rem;
    height: 0.10rem;
    left: 0.81rem;
    top:0.23rem;
    z-index: 8;
    transform: rotateZ(0deg);
    display: block;
    opacity: 1;
}
.weixin .banner7 li:nth-child(1) div{
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 8;
    color: rgb(85, 85, 85);
  }
  .weixin .banner7 li:nth-child(2){
	width: 0.10rem;
    height: 0.10rem;
    right: 0.81rem;
    top:0.23rem;
    z-index: 8;
    transform: rotateZ(0deg);
    display: block;
    opacity: 1;
}
.weixin .banner7 li:nth-child(2) div{
    width: 100%;
    height: 100%;
     background: #000000;
    z-index: 8;
    color: rgb(85, 85, 85);
  }
  .weixin .banner7 li:nth-child(3){
	width:100%;
    height: 0.46rem;
    left: 0;
    top: 0.07rem;
    z-index: 10;
    transform: rotateZ(0deg);
    opacity: 1;
    text-align: center;
    font-size:0.20rem;
    line-height: 0.46rem;
    font-weight: 600;
}
.weixin .banner7 li:nth-child(4){
	width: 65%;
    height: 40%;
    left: 0.53rem;
    top: 0.95rem;
    z-index: 1;
    display: block;
}
.weixin .banner7 li:nth-child(4) div{
	width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
  }
  .weixin .banner7 li:nth-child(4) div img{
  	width: 100%;
    height: 100%;
  }
  .weixin .banner7 li:nth-child(5){
	width: 0.05rem;
    height: 2.90rem;
    left: 2.0rem;
    top: 0.69rem;
    z-index: 5;
    transform: rotateZ(0deg);
    display: block;
    opacity: 1;
}
.weixin .banner7 li:nth-child(5) div{
	width: 100%;
    height: 100%;
      z-index: 5;
    color: rgb(85, 85, 85);
    opacity: 1;
    background: #FFFFFF;
    opacity: 0.6;
  }
  .weixin .banner7 li:nth-child(6){
	width: 100%;
    height: 0.05rem;
    left: 0rem;
    top: 1.56rem;
    z-index: 2;
    transform: rotateZ(0deg);
    display: block;
    opacity: 1;
  }
.weixin .banner7 li:nth-child(6) div{
	width: 100%;
    height: 100%;
    z-index: 2;
    color: rgb(85, 85, 85);
    background: #FFFFFF;
    opacity: 0.5;
 }
 .weixin .banner7 li:nth-child(7){
 	width: 0.05rem;
    height: 2.90rem;
    left: 1.24rem;
    top: 0.68rem;
    z-index: 4;
    transform: rotateZ(0deg);
    display: block;
    opacity: 1;
 }
.weixin .banner7 li:nth-child(7) div{
	width: 100%;
    height: 100%;
    z-index: 2;
    color: rgb(85, 85, 85);
    background: #FFFFFF;
    opacity: 0.5;
 }
.weixin .banner7 li:nth-child(8){
	width: 100%;
    height: 0.06rem;
    left: 0;
    top: 2.78rem;
    z-index: 3;
    transform: rotateZ(0deg);
    display: block;
    opacity: 1;
}
.weixin .banner7 li:nth-child(8) div{
	width: 100%;
    height: 100%;
    z-index: 2;
    color: rgb(85, 85, 85);
    background: #FFFFFF;
    opacity: 0.5;
 }
 .weixin .banner7 li:nth-child(9){
	width: 100%;
    height: 0.80rem;
    top: 3.66rem;
    z-index: 6;
    transform: rotateZ(0deg);
    display: block;
    opacity: 1;
   }
.weixin .banner7 li:nth-child(9) p{
	width:100%;
	height:0.40rem;
	line-height: 0.40rem;
	text-align: center;
}
.weixin .banner7 li:nth-child(9) em{
	text-decoration: underline;
	color:#FFFFFF;
	font-size:0.16rem;
	font-weight: 600;
}
.weixin .banner8{
   width:100%;
   height:100%;
   position: relative;
   background: url(../img/banner07.jpg) no-repeat;
   background-size: cover;
   position: relative;
}
.weixin .banner8 ul{
   width:100%;
   height:100%;
   position: relative;
}
.weixin .banner8 li{
	position:absolute
}
.weixin .banner8 ul li:nth-child(1){
	width: 1.63rem;
    height: 1.63rem;
    left: 0.79rem;
    top: 1.26rem;
    z-index: 1;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    display: block;
    opacity: 1;
}
.weixin .banner8 ul li:nth-child(1) div{
	width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 0px;
    color: rgb(85, 85, 85);
    background: #007AFF;
    border-radius: 0px;
  }
  .weixin .banner8 li:nth-child(2){
 	width: 1.63rem;
    height: 1.33rem;
    left: 0.79rem;
    text-align: center;
    top: 1.56rem;
    z-index: 5;
 }
 .weixin .banner8 li:nth-child(2) p{
 	color:#FFFFFF;
 	font-size:0.18rem;
 	font-weight: 600;
 	height:0.50rem;
 	line-height: 0.50rem;;
 }
 .weixin .banner8 li:nth-child(2) p:nth-child(1){
 	border-bottom: 1px solid #000000;
 }